<div>
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <label for="itemName">Item Name: </label>
    <input formControlName="itemName" id="itemName" type="text" />
    <div
      *ngIf="
        expenseForm.get('itemName')?.touched &&
        expenseForm.get('itemName')?.invalid
      "
    >
      <small *ngIf="expenseForm.get('itemName')?.errors?.['required']"
        >Item Name is required.</small
      >
    </div>

    <!-- Description -->
    <label for="description">Description: </label>
    <textarea formControlName="description" id="description"></textarea>
    <div
      *ngIf="
        expenseForm.get('description')?.touched &&
        expenseForm.get('description')?.invalid
      "
    >
      <small *ngIf="expenseForm.get('description')?.errors?.['required']"
        >Description is required.</small
      >
    </div>

    <!-- Cost -->
    <label for="cost">Cost: </label>
    <input formControlName="cost" id="cost" type="number" step="0.01" />
    <div
      *ngIf="
        expenseForm.get('cost')?.touched && expenseForm.get('cost')?.invalid
      "
    >
      <small *ngIf="expenseForm.get('cost')?.errors?.['required']"
        >Cost is required.</small
      >
      <small *ngIf="expenseForm.get('cost')?.errors?.['min']"
        >Cost must be greater than 0.</small
      >
    </div>

    <!-- Category -->
    <label>Category: </label>
    <div id="category">
      <div *ngFor="let category of categories; let i = index">
        <input
          formControlName="categories"
          id="{{ category.value }}"
          type="checkbox"
          (change)="onCategoryChange($event, category.value)"
        />
        <label [for]="category.value">{{ category.name }}</label>
      </div>
      <div
        *ngIf="
          expenseForm.get('categories')?.touched && !selectedCategories.length
        "
      >
        <small>At least one category must be selected.</small>
      </div>
    </div>

    <!-- PaymentMode -->
    <label for="paymentMode">Payment via: </label>
    <div class="payment-mode">
      <input
        id="online"
        type="radio"
        formControlName="paymentVia"
        value="true"
        [checked]=true
        
      />
      <label for="online">Online</label>
      <input
        id="offline"
        type="radio"
        formControlName="paymentVia"
        value="false"
        [checked]=true
      />
      <label for="offline">Offline</label>
    </div>

    <!-- Shop Details -->
    <label for="shopName">Shop Name: </label>
    <input formControlName="shopName" id="shopName" type="text" />
    <div
      *ngIf="
        expenseForm.get('shopName')?.touched &&
        expenseForm.get('shopName')?.invalid
      "
    >
      <small *ngIf="expenseForm.get('shopName')?.errors?.['required']"
        >Shop Name is required.</small
      >
    </div>
    <label for="shopAddress">Shop Address: </label>
    <textarea formControlName="shopAddress" id="shopAddress"></textarea>
    <div
      *ngIf="
        expenseForm.get('shopAddress')?.touched &&
        expenseForm.get('shopAddress')?.invalid
      "
    >
      <small *ngIf="expenseForm.get('shopAddress')?.errors?.['required']"
        >Shop Address is required.</small
      >
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="expenseForm.invalid">Submit</button>
  </form>
</div>
