<div>
  <h2>Expense Dashboard</h2>
  <div *ngIf="this.expenses.length === 0; else elseBlock">
    No Expenses to display
  </div>
  <ng-template #elseBlock>
    <div>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Description</th>
              <th>
                Cost
                <i
                  *ngIf="sortDirection; else downArrow"
                  class="fa-solid fa-arrow-up-wide-short"
                  (click)="sortExpensesByCost()"
                ></i>
                <ng-template #downArrow>
                  <i
                    class="fa-solid fa-arrow-down-short-wide"
                    (click)="sortExpensesByCost()"
                  ></i>
                </ng-template>
              </th>
              <th>Categories</th>
              <th>Payment Via</th>
              <th>Shop Name</th>
              <th>Shop Address</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of expenses; let i = index">
              <td>{{ expense.itemName }}</td>
              <td>{{ expense.description }}</td>
              <td>{{ expense.cost }}</td>
              <td>
                <ul>
                  <li *ngFor="let category of expense.categories">
                    {{ category }}
                  </li>
                </ul>
              </td>
              <td>{{ expense.paymentVia ? "Online" : "Offline" }}</td>
              <td>{{ expense.shopDetails.shopName }}</td>
              <td>{{ expense.shopDetails.shopAddress }}</td>
              <td>
                <button (click)="editExpense(i)">Edit</button>
              </td>
              <td>
                <button (click)="deleteExpense(i)">Delete</button>
              </td>
            </tr>

            <tr>
              <!-- <td colspan="2"></td> -->
              <td colspan="5">
                <h1>Total: {{ totalCost }}</h1>
              </td>
              <td colspan="4">
                <h1>Average: {{ averageCost }}</h1>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-analysis [expenses]="expenses"> </app-analysis>
    </div>
  </ng-template>
</div>
